altgraph==0.16.1
boto3==1.9.157
botocore==1.12.157
docutils==0.14
future==0.17.1
jmespath==0.9.4
jsonpickle==1.2
macholib==1.11
mpmath==1.1.0
pefile==2018.8.8
python-dateutil==2.8.0
s3transfer==0.2.0
six==1.12.0
sympy==1.4
urllib3==1.25.3
